.dropdown-menu.show {
    display: block;
    overflow: auto !important;
    max-height: 276px !important;
}


.date-box {
    margin-bottom: 0px !important;
}

.table-grp-heading{
    background: #ffa07a;
    color:#000000;
    font-weight: 900;
    font-size: 14px;
  
    text-align: center;

}
