  <!-- Main content -->
  <section class="content">
    <div class="loader" *ngIf="loading">
      <span class="loadingImg"></span>
  </div>
<div class="row">
  <div class="col-md-6 col-sm-6 ">
<div class="card card-info">
  <div class="card-header" style="background:#663399; color:white">
    <h3 class="card-title">Kitchen List  <button class="btn btn-success float-right"><i class="fa fa-plus-circle"></i> Add Kitchen</button></h3>
  </div>
    <div class="card-body table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr class="table-custom-header">
                <th>Kitchen Name</th>

                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let kitchenData of kitchenList let itemIndex = index;">

                <td>{{kitchenData.kitchenName}}</td>


            </tr>

            </tbody>
        </table>
    </div>

  </div>
</div>
<div class="col-md-6 col-sm-6 ">
    <div class="card card-info">
      <div class="card-header" style="background:#663399; color:white">
        <h3 class="card-title">Item Category List  <button class="btn btn-success float-right"><i class="fa fa-plus-circle"></i> Add Item Category</button></h3>
      </div>
        <div class="card-body table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr class="table-custom-header">
                    <th>S.No</th>
                    <th>Item Category Name</th>

                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let itemCategoryData of itemCategoryList let itemIndex = index;">
                   <td> {{itemIndex+1}}</td>

                    <td>{{itemCategoryData.itemCategory}}</td>
                    <td><button class="btn" style="color: white;"> <i class="fa fa-edit"   aria-hidden="true"></i>Edit</button>
                        </td>


                </tr>

                </tbody>
            </table>
        </div>

      </div>
    </div>
</div>

</section>
